
<div style="height:calc(100vh - 280px )">

  <!-- div bao news, login -->
  <div class="slideshow-container max-size " style="position:relative;margin:unset;max-width:unset">

    <!-- Full-width images with number and caption text -->
    <div *ngFor="let ban of listBanner" class="mySlides max-size" style="background-color:rgb(32,52,105)">
      <!--<div class="numbertext">1 / 3</div>-->
      <img class="img-news"
           src="{{ban.linkImg}}"/>
      
      <div class="col-6 div-content-news " style="height:70px">
        <div style="position:relative">
          <div class="title-news">{{ban.title}}</div>
          <!--<br />-->
          <div class="des-news">
            {{ban.description}}
            <!--<textarea [(ngModel)]="ban.description" maxlength="200" ></textarea>-->
          </div>

           
          
          <div class="div-detail"  >
            <a style="text-decoration: none; color: rgb(30,74,102)" href="{{ban.linkTopic}}" target="_blank"
               rel="noopener noreferrer">Chi tiết</a>
            <i  class="fa-solid fa-xs fa-arrow-right icon-detail"></i>
            
          </div>
          
        </div>
      </div>
      
 

    </div>
    
    <div class="div-login" style="align-content:center">
      <img id="img"
           draggable="false"
           class="style-scope yt-img-shadow"
           alt=""
           width="80"
           src="https://yt3.googleusercontent.com/ytc/AGIKgqNNq8pz2UWbfitGJUwAULnJZIwZnDUdSS_Pdcol=s176-c-k-c0x00ffffff-no-rj" />
      <div style="display:flex;position:relative;width:100%">
        <input type="text" class="form-control border-radius-20 margin-tb-5" maxlength="50" id="exampleInputEmail1" placeholder="{{'login.username' | translate}}" aria-describedby="emailHelp" style="padding-left:30px" />
        <i class="fa-solid fa-user icon-login"></i>
           </div>
      <div style="display:flex;position:relative;width:100%">
        <input type="password" class="form-control border-radius-20 margin-tb-5" maxlength="200" placeholder="{{'login.pass' | translate}}" id="exampleInputPassword1" style="padding-left:30px" />
        <i class="fa-solid fa-lock icon-login"></i>
        <i (click)="showPass()"  class="fa-regular fa-eye icon-login-end"></i>
         </div>

        <div class="margin-tb-5" style="display:flex">

          <input type="checkbox" id="cb1" style="margin-right:5px" />
          <label for="cb1" style="margin-right:20px">Nhớ mật khẩu</label>
          <label>Quên mật khẩu?</label>

        </div>

        <button type="submit" class="btn btn-primary border-radius-20 margin-tb-5" style="width: 100%; background-image: linear-gradient(90deg, rgb(40,153,255), rgb(0,209,255));border:none">
          {{ 'login.login' | translate }}
        </button>

        <img id="img" style="margin-top:25px"
             draggable="false"
             class="style-scope yt-img-shadow"
             alt=""
             width="100"
             src="/assets/img/M5GK-qrcode.png" />

        <label>Quét mã QR để cài app</label>
      </div>
      <div style="text-align:center;position:absolute;bottom:10px;width:100%">
        <span class="dot" (click)="currentSlide(1)"></span>
        <span class="dot" (click)="currentSlide(2)"></span>
        <span class="dot" (click)="currentSlide(3)"></span>
      </div>

    </div>
   
</div>





<div class="d-flex div-container-footer" style="margin-left:auto;margin-right:auto;padding-top:20px;position:relative">
  <!--div chi nhánh-->
  <div class="col-md-2 div-bran" *ngFor="let branch of listBranch" style="height:200px">

    <div class="title-bran">{{branch.title}}</div>
    <br />
    <div class="des-bran">{{branch.address}}</div>


  </div>
  <div style="display:flex;flex-direction:column;position:absolute;right:0px">
    <!--div link social-->

    <a href="https://play.google.com/store/apps/details?id=vn.bagps.gpsmobile" target="_blank"
       rel="noopener noreferrer"><img class="img-app" src="/assets/img/google-play.jpg" /></a>
    <a href="https://itunes.apple.com/us/app/ba-gps/id1466206178?ls=1&mt=8" target="_blank"
       rel="noopener noreferrer"><img class="img-app" src="/assets/img/app-store.jpg" /></a>
    <div style="display:flex">
      <a href="https://www.facebook.com/giamsathanhtrinhbinhanh/" target="_blank"
         rel="noopener noreferrer"><img class="img-social"  src="/assets/img/Facebook.png.webp" /></a>
      <a href="https://zalo.me/1958838581480438876" target="_blank"
         rel="noopener noreferrer"><img class="img-social"  src="/assets/img/Zalo.webp" /></a>

      <a href="https://www.youtube.com/@BAGPS" target="_blank"
         rel="noopener noreferrer"><img class="img-social" src="/assets/img/youtube.jpg" /></a>
    </div>
  </div>

</div>

 
<style>
  .div-container-footer{
    margin-left:30px!important;
    margin-right:30px!important;
  }
  .img-app{
    width:135px;
    height:51px;
    padding-bottom:10px
  }
  .img-social {
    width: 25px;
    height: 25px;
    margin:10px
  }
  .icon-login {
    position: absolute;
    width: 15px;
    height: 15px;
    top: 16px;
    left: 10px;
    color: #717171
  }
  .div-detail {
    padding-right: 30px;
    border-radius: 20px;
    position: absolute;
    top: 17px;
    right: 20px;
    background-color: rgb(139,195,74);
    color: rgb(18,51,106);
    display: flex;
    padding-left: 10px
  }

  .icon-detail {
    position: absolute;
    width: 10px;
    height: 10px;
    top: 12px;
    right: 15px;
    color: rgb(30,74,102)
  }
  .icon-login-end {
    position: absolute;
    width: 15px;
    height: 15px;
    top: 16px;
    right: 10px;
    color: #717171;
    cursor:pointer;
  }
  .margin-tb-5{
      margin-top:5px;
      margin-bottom:5px
  }
  .border-radius-20{
      border-radius:20px
  }
  .div-login {
    position: absolute;
    border-radius: 20px;
    right: 30px;
    top: 50px;
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    
    padding: 10px
  }

  .title-news {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 120px;
    font-weight:bold;
    padding-top:5px;
    padding-left:10px;
    height: 30px;
    padding-bottom:5px;
  }
  .des-news {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 120px;
    height: 30px;
    padding-top:5px;
    padding-bottom:5px;
    padding-left: 10px;
  }
  .max-size {
    height: 100% !important;
    width: 100%;
  }
  .div-bran{
      margin-right:50px
  }
  .d-flex {
    display: flex;
  }
  .title-bran{
      font-weight:bold;
      color:rgb(9,81,136);
      padding-top:5px
  }
  * {
    box-sizing: border-box
  }

  .img-news {
    width: 100%;
    height: 100%;
    position:relative;
  }

  .div-content-news {
     
    color: white;
    border-radius: 10px;
    position: absolute;
    bottom: 40px;
    margin-left: 30px;
    background: rgba(6,33,63,.7);
  }

  /* Slideshow container */
  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }

  /* Hide the images by default */
  .mySlides {
    display: none;
    height:300px;
  }

  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  .dp-block{
      display:block;
  }
  .dp-none {
    display: none;
  }

    /* On hover, add a black background color with a little bit see-through */
    .prev:hover, .next:hover {
      background-color: rgba(0,0,0,0.8);
    }

  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }

  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

    .active, .dot:hover {
      background-color: #717171;
    }

  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @keyframes fade {
    from {
      opacity: .4
    }

    to {
      opacity: 1
    }
  }

</style>
