<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
  >
    <div class="container">
      <!--<h1>{{ 'HELLO_WORLD' | translate }}</h1>-->
      <button (click)="toggle()">
        azz
      </button>
      <button (click)="collapse()">
        szz
      </button>
      <div class="col-lg-2 col-2">
        <a class="logo"
           href="https://bagps.vn/"
           title="">
          <img id="img"
               draggable="false"
               class="style-scope yt-img-shadow"
               alt=""
               width="128"
               src="https://yt3.googleusercontent.com/ytc/AGIKgqNNq8pz2UWbfitGJUwAULnJZIwZnDUdSS_Pdcol=s176-c-k-c0x00ffffff-no-rj">
        </a>
      </div>

      <a class="navbar-brand" [routerLink]="['/']">BALoginSytem</a>
      <button class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target=".navbar-collapse"
              aria-label="Toggle navigation"
              [attr.aria-expanded]="isExpanded"
              (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
           [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav flex-grow">
          <li class="nav-item"
              [routerLinkActive]="['link-active']"
              [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link text-dark"
               href="https://bagps.vn/"
               target="_blank"
               rel="noopener noreferrer">{{ 'home_page' | translate }}</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark"
               href="https://bagps.vn/san-pham-va-giai-phap"
               target="_blank"
               rel="noopener noreferrer">{{ 'product' | translate }}</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark"
               href="https://bagps.vn/tin-tuc-c10"
               target="_blank"
               rel="noopener noreferrer">{{ 'news' | translate }}</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark"
               href="https://bagps.vn/huong-dan-dong-phi-dich-vu-ba-gps-d610"
               target="_blank"
               rel="noopener noreferrer">{{ 'fee' | translate }}</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark"
               href="https://badoc.bagroup.vn/display/GPS/1.+HDSD+WEB+GPS"
               target="_blank"
               rel="noopener noreferrer">{{ 'tutorial' | translate }}</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark"
               href="https://bagps.vn/mang-luoi"
               target="_blank"
               rel="noopener noreferrer">{{ 'mang_luoi' | translate }}</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark"
               href="https://bagps.vn/gioi-thieu/"
               target="_blank"
               rel="noopener noreferrer">{{ 'about_us' | translate }}</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>
</header>
